.dash-card-content{
  padding: 1.5rem;
}

.dash-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dash-text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.dash-text-sm{
  font-size: .875rem;
  line-height: 1.25rem;
  color: rgb(31 41 55)
}

.dash-text-xs{
  font-size: .75rem;
  line-height: 1rem;
}

.activity-log{
  padding-top: 1.5rem;
}

.queries-container{
}

.single-query{
  padding-top: 0.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-family: ui-monospace, Courier, monospace;
}

.sql-query-info{
  color:rgb(156 163 175)
}

