 .pagination-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-width: 1px;
    padding: 0.75rem 1.5rem;
 }

 .pagination-items-wrapper{
    display: flex;
 }
 
 .pagination-item {
    padding: 0 12px;
    height: 32px;
    margin: auto 4px;
    border: 0px solid white;
    color: rgba(0, 0, 0, 0.87);
    border-color: rgb(209 213 219);
    background-color: white;
    display: flex;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 4px;
    line-height: 1.43;
    font-size: 1rem;
    min-width: 32px;
  }

 .button.active{
      border: 0px solid blue;
    /* border: 0px solid rgb(209 213 219); */
  }

  .dots:hover {
    background-color: transparent;
    cursor: default;
  }

  .pagination-item:hover{
    cursor: pointer;
  }

  .pagination-text{
    font-size: 100%;
  }