 .pagination-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-width: 1px;
    padding: 0.75rem 1.5rem;
 }

 .pagination-items-wrapper{
    display: flex;
 }
 
 .pagination-button {
    padding: 0.5rem 1rem;
    margin: auto 4px;
    border: 1px solid white;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    line-height: 1.43;
    font-size: 1rem;
    min-width: 32px;
  }

  /* .pagination-button:active{
      background-color: yellowgreen;
  } */

 /* .button.active{
      border: 1px solid blue;
    border: 0px solid rgb(209 213 219);
  } */

  .dots:hover {
    background-color: transparent;
    cursor: default;
  }

  .pagination-button:hover{
    cursor: pointer;
    border: 1px solid rgb(209 213 219);
  }

  .pagination-text{
    font-size: 0.8em;
  }