.home-section {
	display: block;
	width: 100%;
	padding: 5em 1.5em 1.5em 16.5em;
}

.home-content {
	padding: 1.5em;
}

.home-header{
	font-size: 1.5rem;
	line-height: 2rem;
}

.pt-2{
	padding-top: 0.5rem;	
}

.text-grey-400{
	color: rgb(156 163 175)
}

.text-lg{
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.home-image{
	width: 24rem;
	float: right;
}

.text-base{
	font-size: 1rem;
	line-height: 1.5rem;
	padding-top: 1rem;
	margin: 0;
}